* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button,
a,
input,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.text-balance {
  text-wrap: balance;
}
